.menu li {

    list-style: none;
    display: inline-block;
    font: bold 14px verdana;
    border: solid;
    padding: 10px;
    margin: 4px;
}

.cabecera h1,
h6 {
    text-align: left;
}

.menu {
    background-color: #72ab94;
    text-align: left;
}

h1{
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    background-color: gray;
}
.agrupar{
    border: 1px solid black;
    background-color: white;
    width: 900px;
    margin: 15px auto;
}
