body {
    background-color: #59ABE3;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: center;
}

.form {
    width: 340px;
    height: 450px;
    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 20px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 50px -18px #000;
}

h2 {
    margin: 20px 0px;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}

p:before {

    content: attr(type);
    display: block;
    margin: 5px 2px;
    font-size: 17px;
    color: #5a5a5a;
}

input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #bebed2;
    background: none;
}

input:focus {
    border-bottom: 3px solid #78788c;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    font-size: 15px;
    margin: 5px;
    padding: 3px 4px;
}

button:hover {
    color: #7c46f1;
    background-color: #dcdcdc;
}